<div *ngIf="businesses">
  <h3>{{BusinessSubCategory}}</h3>

  <div class="panel panel-success" *ngFor="let bus of businesses">
    <div class="panel-heading"><strong>{{bus.Name}}</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 col-xs-6">
          <img *ngIf="bus.Image" class="img-responsive" width="300px;" style="max-height:300px" src="{{bus.Image}}" />
          <p *ngIf="!bus.Image" class="text-center"><em>{{bus.Description}}</em>
            <p>
        </div>
        <div class="col-md-5 text-center pull-right col-xs-6">
          <ul class="list-unstyled" *ngIf=bus.Address>
            <li>{{bus.Address.Address1}}</li>
            <li *ngIf="bus.Address.Address2">{{bus.Address.Address2}}</li>
            <li>{{bus.Address.State}} {{bus.Address.City}} {{bus.Address.ZipCode}}</li>
            <li><a href="http://mailto:{{bus.Email}}"><i class="fa fa-envelope"></i> {{bus.Email}}</a>
            </li>
            <li *ngIf="bus.Phone">
              <a href="tel:{{bus.Phone}}">({{bus.Phone.substring(0,3)}})-{{bus.Phone.substring(3,6)}}-{{bus.Phone.substring(6,10)}}</a>
            </li>
            <li>
              <a href="{{bus.WebLink}}">{{bus.WebLink}}</a>
            </li>
          </ul>
          <ul class="list-unstyled">
            <p *ngIf="bus.Image" class="text-center"><em>{{bus.Description}}</em>
              <p>
          </ul>
        </div>
      </div>
      <div class="row" *ngIf="bus.Images && bus.Images.length>0">
        <ng-container *ngFor="let image of bus.Images">
          <div class="bordered col-md-1 col-sm-1 col-xs-2">
            <img class="img-responsive" src="{{image.Image}}" style="width:60px; height:60px" (click)="onBusinessSelect(bus)" />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<app-modal [modelPopup]="modal"></app-modal>
<app-business-details [business]="selectedBusiness" [changed]="changed"></app-business-details>