.event-container{
    padding: 10px 5px;
    margin: 5px 0;
    border-bottom: solid 1px #00a680;

    .description{
        font-size: large;
    }
}

.col-md-9{
    margin: 0;
    padding: 0;
}
.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: #003b64;
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > .time {
padding: 20px 0;
		color: rgb(255, 255, 255);
        //background-color: rgb(197, 44, 102);
        background-color: #003b64;

		text-align: center;
		text-transform: uppercase;
	}
	.day {
		display: block;
		font-size: xx-large;
		font-weight: 100;
		line-height: 1;
	}
	.month {
		display: block;
		font-size: large;
		font-weight: 900;
		line-height: 1;
	}

	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list .title {
		font-size: large;
		font-weight: bold;
        margin: 0px;
        color: #fff;
        padding: 10px 0;
    }
    
    .panel{
        background: transparent;
        .panel-heading{
            .row{
                background-color: #003b64;
                color: #fff;
                	.day {
		display: block;
		font-size: xx-large;
		font-weight: 100;
        line-height: 1;
	}
	.month {
		display: block;
		font-size: large;
		font-weight: 900;
		line-height: 1;
	}
                img{
                    width: 99%;
                    //height: 70px;
                }
                & .date-section{
padding-top: 25px;
                }
            }
        }
    }

    .pad-top-25{
        padding-top: 15px;
    }

    .no-right-pad{
        padding-right: 0;
    }

    .pad-5{
        padding: 5px;
    }

