<h3>Upcoming Events</h3>
<div *ngIf="events">
  <ul class="event-list">
    <li *ngFor="let event of events">
      <div class="col-md-3 col-sm-3 time">
        <ul class="list-unstyled">
          <li class="day">{{event.StartDate | date:'dd'}}</li>
          <li class="month">{{event.StartDate | date:'LLL'}}</li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-9">
        <img class="img-responsive" *ngIf="event.Images && event.Images.length>0" alt="{{event.Title}}" src="{{event.Images[0].Image}}"
        />
      </div>
      <div class="text-center">
        <strong class="title">{{event.Title}}</strong>
      </div>
    </li>
  </ul>
</div>