<div id="mySidenav" class="sidenav smallnav animated slideInLeft">
  <h4 class="text-center">Quick Links</h4>
  <ul class="list-unstyled">
    <li routerLink="/myadds">
      <a routerLink="/myadds">Manage My Ads</a>
    </li>
    <li>
      <a routerLink="/postadd">Post An Ad</a>
    </li>
    <li>
      <a routerLink="/add-business">Add Your Business</a>
    </li>
    <li>
      <a routerLink="/add-movie">Add Movie</a>
    </li>
    <li>
      <a routerLink="/add-event">Add Event</a>
    </li>
  </ul>
</div>