<div *ngIf="add && showModal" id="loading">
  <div class="col-md-6 col-xs-11">
    <div>
      <i class="fa fa-window-close-o text-success pull-right" (click)="closeModal()"></i>
    </div>

    <div class="col-xs-12">
      <h3>Modify Add</h3>
      <form [formGroup]="modifyForm">
        <div class="form-group">
          <select class="form-control" formControlName="subCategoryID">
        <ng-container *ngFor="let subCat of subCategories">
        <option value="{{subCat.ID}}">{{subCat.Name}}</option>
        </ng-container>
    </select>
        </div>
        <div class="form-group">
          <input type="text" formControlName="title" class="form-control" placeholder="Title*" />
          <div *ngIf="modifyForm.get('title').dirty && modifyForm.get('title').value==''" class="text-danger">
            Required.
          </div>
        </div>
        <div class="form-group">
          <input type="email" formControlName="contactEmail" class="form-control" placeholder="Email*" />
          <div *ngIf="modifyForm.get('contactEmail').dirty && modifyForm.get('contactEmail').value==''" class="text-danger">
            Required.
          </div>
        </div>
        <div class="form-group">
          <input type="phone" formControlName="contactPhone" class="form-control" placeholder="Phone(optional)" />
        </div>
        <div class="form-group">
          <input type="phone" formControlName="price" class="form-control" placeholder="Price(optional)" />
        </div>
        <div class="form-group">
          <textarea formControlName="description" class="form-control" placeholder="Description*"></textarea>
        </div>
        <div class="form-group">
          <label>Upload image <small> (optional)</small></label>
          <input class="form-control" type="file" name="Image" imageUpload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions"
          />
        </div>
        <div class="form-group" *ngIf="this.add && this.add.Images">
          <ng-container *ngFor="let image of this.add.Images">
            <div class="bordered col-md-1">
              <i class="fa fa-window-close-o text-danger pull-right" (click)="removeImage(image)"></i>
              <img src="{{image.Image}}" style="width:60px; height:60px" />
            </div>
          </ng-container>
        </div>
        <div class="form-group" style="clear:both">
          <button type="button" (click)="onSubmit()" [disabled]="!modifyForm.valid" class="btn btn-success form-control">Submit</button>
        </div>
      </form>
    </div>