<h3>Adds</h3>
<div class="col-md-10 col-md-offset-1 col-xs-12" *ngFor="let add of adds">

  <div class="panel panel-success">
    <div class="panel-heading">
      <strong>{{add.Title}}</strong>
      <small *ngIf="add.Price>0" class="pull-right text-primary badge"><label>Price: </label>${{add.Price}}</small>
    </div>

    <div class="panel-body">
      <ul class="list-unstyled">
        <li>{{add.Description}}</li>
      </ul>
      <ul class="list-unstyled text-center">
        <li *ngIf="add.ContactEmail"><label><i class="fa fa-envelope"></i> Email:</label> <a href="http://mailto:{{add.Email}}">{{add.ContactEmail}}</a></li>
        <li *ngIf="add.ContactPhone && add.ContactPhone.trim()!=''"><label><i class="fa fa-phone"></i> Phone:</label><a href="tel:{{add.Phone}}">({{add.ContactPhone.substring(0,3)}})-{{add.ContactPhone.substring(3,6)}}-{{add.ContactPhone.substring(6,10)}}</a></li>
        <li><label><i class="fa fa-calendar"></i> Date Posted: </label> {{add.DateCreated | date:'mediumDate'}}</li>
      </ul>
      <ul class="list-unstyled text-center" *ngIf="add.Image">
       <li><button class="btn btn-link" (click)="hideme[add.ID] = !hideme[add.ID]"><i class="fa fa-plus-square-o" [class.hidden]="hideme[add.ID]"> Show Image</i> <i class="fa fa-minus-square-o" [class.hidden]="!hideme[add.ID]"> Hide Image</i></button></li>
        <li><img class="img-responsive" [class.hidden]="!hideme[add.ID]" src="{{add.Image}}" /></li>
      </ul>
    </div>
  </div>
</div>


<app-modal [modelPopup]="modal"></app-modal>