<div>
  <h3>Register</h3>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <input type="email" formControlName="email" class="form-control" placeholder="Email" />
      <div class="text-danger" *ngIf="registerForm.get('email').dirty && registerForm.get('email').value==''">
        Required!
      </div>
      <div class="text-danger" *ngIf="registerForm.get('email').dirty && registerForm.get('email').status!='VALID' && registerForm.get('email').value!=''">
        Please enter a valid email!
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" formControlName="password" />
      <div class="text-danger" *ngIf="registerForm.get('password').dirty && registerForm.get('password').value==''">
        Required.
      </div>
      <div class="text-danger" *ngIf="registerForm.get('password').dirty && registerForm.get('password').status!='VALID' && registerForm.get('password').value!='' && registerForm.get('password').value.length < 6">
        Minimum 6 characters.
      </div>
      <div class="text-danger" *ngIf="registerForm.get('password').dirty && registerForm.get('password').status!='VALID' && registerForm.get('password').value!='' && registerForm.get('password').value.length > 5 && registerForm.get('password').status!='VALID'">
        Must contain aplhabets and numbers.
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Type it again" formControlName="confirmPassword" />
      <div class="text-danger" *ngIf="registerForm.controls.confirmPassword.errors?.MatchPassword">
        Password does not match!
      </div>
    </div>
    <div class="form-group">
      <button type="button" (click)="onSubmit()" [disabled]="!registerForm.valid" class="btn btn-success form-control">Submit</button>
    </div>
  </form>
</div>
<app-modal [modelPopup]="modal"></app-modal>