<div class="col-md-6 col-md-offset-3 col-xs-12">
  <h3>Post Your Add</h3>
  <form [formGroup]="addForm">
    <div class="form-group">
      <select class="form-control" formControlName="subCategoryID">
        <option *ngFor="let subCat of subCategories" value="{{subCat.ID}}">{{subCat.Name}}</option>
    </select>
    </div>
    <div class="form-group">
      <input type="text" formControlName="title" class="form-control" placeholder="Title" />
    </div>
    <div class="form-group">
      <input type="email" formControlName="contactEmail" class="form-control" placeholder="Email" />
    </div>
    <div class="form-group">
      <input type="phone" formControlName="contactPhone" class="form-control" placeholder="Phone" />
    </div>
        <div class="form-group">
      <input type="phone" formControlName="price" class="form-control" placeholder="Price" />
    </div>
    <div class="form-group">
      <textarea type="text" formControlName="description" class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <input class="form-control" type="file" name="Image" ngModel imageUpload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions"
      />
    </div>
    <div class="form-group">
      <button type="button" (click)="onSubmit()" class="btn btn-success form-control">Submit</button>
    </div>
  </form>
</div>

<app-modal [modelPopup]="modal"></app-modal>