<div class="col-md-6 col-md-offset-3 col-xs-12">
  <h3>Post Your Add</h3>
  <form [formGroup]="addForm">
    <div class="form-group">
      <select class="form-control" formControlName="subCategoryID">
        <option *ngFor="let subCat of subCategories" value="{{subCat.ID}}">{{subCat.Name}}</option>
    </select>
    </div>
    <div class="form-group">
      <input type="text" formControlName="title" class="form-control" placeholder="Title*" />
      <div *ngIf="addForm.get('title').dirty && addForm.get('title').value==''" class="text-danger">
        Required.
      </div>
    </div>
    <div class="form-group">
      <input type="email" formControlName="contactEmail" class="form-control" placeholder="Email*" />
      <div *ngIf="addForm.get('contactEmail').dirty && addForm.get('contactEmail').value==''" class="text-danger">
        Required.
      </div>
    </div>
    <div class="form-group">
      <input type="phone" formControlName="contactPhone" class="form-control" placeholder="Phone(optional)" />
    </div>
    <div class="form-group">
      <input type="phone" formControlName="price" class="form-control" placeholder="Price(optional)" />
    </div>
    <div class="form-group">
      <textarea type="text" formControlName="description" class="form-control" placeholder="Description*"></textarea>
          <div *ngIf="addForm.get('description').dirty && addForm.get('description').value==''" class="text-danger">
        Required.
      </div>
    </div>
    <div class="form-group">
      <label>Upload image <small> (optional)</small></label>
      <input class="form-control" type="file" name="Image" formControlName="image" imageUpload (imageSelected)="selected($event)"
        [resizeOptions]="resizeOptions" />
    </div>
    <div class="form-group">
      <button type="button" (click)="onSubmit()" [disabled]="!addForm.valid" class="btn btn-success form-control">Submit</button>
    </div>
  </form>
</div>

<app-modal [modelPopup]="modal"></app-modal>