<div class="col-md-9 col-xs-12 col-sm-9">
  <h3>Login</h3>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <input type="email" class="form-control" formControlName="userName" placeholder="Email" />
      <div *ngIf="!loginForm.get('userName').valid && !loginForm.get('password').pristine">
        Required.
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="Password" />
      <div *ngIf="!loginForm.get('password').valid && !loginForm.get('password').pristine" class="text-danger">
        Required.
      </div>
    </div>
    <div class="form-group">
      <button type="button" [disabled]="!loginForm.valid" (click)="onSubmit()" class="btn btn-success form-control">Submit</button>
    </div>
  </form>
  <div class="alert alert-danger" *ngIf="status">
    {{status}}
  </div>
  <div class="text-center">
New user? <a routerLink="/register">Register</a>
  </div>
</div>

<app-modal [modelPopup]="modal"></app-modal>