<div>
  <h3>Manage Users</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>User</th>
        <th>Role</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>
            {{user.Email}}
          </td>
          <td>
            <div *ngFor="let role of availableRoles">
            <label>{{role}}</label> 
            <input type="checkbox" data-id="" value="{{role}}" [checked]="contains(user.Roles,role)" (click)="onRoleSelected(user,i,$event)" />
            </div>
          </td>
          <td>
            <button class="btn-sm btn-success" (click)="onUpdateClick(user)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>