<div class="loading" id="" *ngIf="movie && showReviewModal[movie.ID]">
  <div class="col-md-6 col-sm-6 col-xs-11">
    <div class="row">
      <i class="fa fa-window-close-o text-success pull-right" (click)="closeModal()"></i>
    </div>
    <form #reviewForm="ngForm">
      <div>
        <div class="form-group">
          <ul class="list-unstyled list-inline">
            <li> <label>Rating: </label></li>
            <li class="list-inline" *ngFor="let item of stars">
              <i class="fa fa-2x fa-star-o" *ngIf="!item.selected" (click)="onStarSelect(item)"></i>
              <i class="fa fa-2x fa-star" *ngIf="item.selected" (click)="onStarSelect(item)"></i>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <input type="number" hidden name="rating" [(ngModel)]="rating" required />
          <input type="number" hidden name="movieID" [(ngModel)]="movieID" />
          <label>Review: <small><em>(optional)</em></small></label>
          <textarea class="form-control" name="review"required [(ngModel)]="review" rows="10"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-success" [disabled]="!reviewForm.form.valid" (click)="onSubmit(reviewForm)">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-modal [modelPopup]="loadingModal"></app-modal>