<div class="loading" id="loading" *ngIf="movie">
  <div>
    <ul class="list-unstyled list-inline" *ngFor="let item of stars">
      <li>
        <i class="fa fa-2x fa-star-o" (click)="onStarSelect()"></i>
      </li>
      <li>
        <i class="fa fa-2x fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-2x fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-2x fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-2x fa-star-o"></i>
      </li>
    </ul>
  </div>
</div>