.panel{
    border: solid 1px lightgray;
}

.fa-star, .fa-star-half-o{
    color: #00a680;
}

a:after {
    content: '\f077';
    font-family: FontAwesome;
    position: absolute;
    right: 20px;
    //font-size: 16px;
    vertical-align: middle;
}

 a.collapsed:after {
    content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    vertical-align: middle;
}

.panel-heading a{
    display: block;
    background: #00a680;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
}

.large-font{
    font-size: x-large;
}

.panel-heading{
    padding-left: 0;
    padding-right: 0;
}