/* You can add global styles to this file, and also import other style files */

/*@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";*/
.btn-success{
    background-color: #00a680 !important;
    border-color:#00a680;
}

h3{
    color:#00a680;
    text-align: center;
}

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid{
    border-left: solid 5px #a94442;
    border-right: solid 5px #a94442;
}

input.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid{
    border-left: solid 5px green;
    border-right: solid 5px green;
}