<div *ngIf="event">
  <div class="row">
   
  </div>
  <h3> <a class="btn-link pull-left" routerLink="/events"><i class="fa fa-arrow-left"></i>Back to Events</a>{{event.Title}}</h3>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <img class="image-responsive" src="{{selectedImg}}">
      <ng-container *ngIf="event.Images && event.Images.length>0">
        <div class="col-md-2 col-xs-2 col-sm-2 bordered" *ngFor="let img of event.Images">
          <img class="image-responsive" (click)="onImageSelect(img)" src="{{img.Image}}">
        </div>
      </ng-container>
    </div>
    <div class="row" style="clear:both; padding:0 50px;">
      <em>{{event.Description}}</em>
    </div>
  </div>
</div>